.explore {
  background: none;
  border-radius: 15px;
  border-right: 2px solid #3E8286;
  border-left: 2px solid #3E8286;
}

.exploreHeading {
  font-weight: bolder;
  font-size: 20px;
  background-color: #3E8286;
  color: white;
  padding: 10px;
  border-radius: 15px 15px 0 0;
}

.exploreOptions {
  display: grid;
}

.exploreOption {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  /* border-bottom: 2px solid purple; */
}
.exploreOption:hover {
  background-color: rgb(84, 189, 230);
  color: white;
}

.exploreOptionText {
  color: #4aaaaf;
  width: 100%;
  margin-left: 5px;
  padding: 10px;
  border-bottom: 1px solid rgb(209, 209, 255);
}
.exploreOptionText:hover {
  color: white;
}

.exploreOptionIcon:hover {
  color: white;
}

.exploreLink {
  text-decoration: none;
}
