.explore {
  background: rgb(35, 34, 34);
}

.exploreHeading {
  font-weight: bolder;
  font-size: 20px;
  background: rgb(11, 11, 11);
  border-bottom: 3px solid rgba(0,125,101,1);
  color: white;
  padding: 10px;
}

.exploreOptions {
  display: grid;
}

.exploreOption {
  display: flex;
  align-items: center;
  background-color: rgb(19, 18, 18);
  margin: 1px;
  /* padding: 10px; */
  /* border-bottom: 2px solid purple; */
}
.exploreOption:hover {
  background-color: rgba(0,125,101,1);
  color: white;
}

.exploreOptionText {
  color: white;
  width: 100%;
  margin: 1px;
  padding: 10px;
}
.exploreOptionText:hover {
  color: white;
}

.exploreOptionIcon:hover {
  color: white;
}

.exploreLink {
  text-decoration: none;
}
