.blogsHeaderContainer {
  height: 45px;
  width: 100%;
  background-color: blue;
  align-items: center;
  justify-content: space-between;
  display: flex;
  top: 0;
  border-radius: 15px 0 15px 0;
}

.blogsLogo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 30px;
  cursor: pointer;
}
