.gymAdminForm{
    width: 40vw;
    background-color: #233a3a;
    position: absolute;
    top: 2%;
    left: 30%;
    z-index: 2;
    border: 2px solid red;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    padding: 25px;
}

.gymAdminHeading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: orangered;
}

.input-container input{ 
    border:2px solid #555;  
    background:transparent;
    margin: 5px;
    padding: 5px;
    font-size:16px;
    color:#fff;
  }