.post {
  height: auto;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(99, 82, 99, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(99, 82, 99, 1);
  box-shadow: 0px 0px 3px 0px rgba(99, 82, 99, 1);
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postTopRight{
  position: relative;
}

.postOptionButton{
  background-color: white;
  border: none;
  cursor: pointer;
}

.postOptions{
  cursor: pointer;
  position: absolute;
  z-index: 5;
  display: grid;
}

.postProfileImg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.postUsername {
  font-weight: bold;
  margin: 0 5px;
}

.postCenter {
  display: grid;
  margin: 10px 0;
}

.postCenterImg {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-top: 10px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  background-color: blue;
  border-radius: 50%;
  padding: 2px;
  margin: 2px;
  color: white;
  cursor: pointer;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
}
