.leftBar {
  /* background-color: rgb(255, 223, 245); */
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
}

.explore {
  background: none;
  border-radius: 15px 0px 0px 0px;
  border-right: 2px solid rgb(10, 143, 121);
}

.exploreHeading {
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(10, 143, 121);
  color: white;
  padding: 10px;
  border-radius: 15px 0 0 0;
}

.exploreOptions {
  display: grid;
}

.exploreOption {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  /* border-bottom: 2px solid purple; */
}
.exploreOption:hover {
  background-color: rgb(28, 168, 145);
  color: white;
}

.exploreOptionText {
  color: rgb(10, 143, 121);
  width: 100%;
  margin-left: 5px;
  padding: 10px;
  border-bottom: 2px solid rgb(10, 143, 121);
}
.exploreOptionText:hover {
  color: white;
}

.exploreOptionIcon:hover {
  color: white;
}

.exploreLink {
  text-decoration: none;
}

.puzzle {
  border-radius: 0px 0px 0px 15px;
  border-right: 2px solid rgb(10, 143, 121);
}

.puzzleHeading {
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(10, 143, 121);
  color: white;
  padding: 10px;
  border-radius: 15px 0 0 0;
}
